service: voa-mobile-server

plugins:
  - serverless-plugin-typescript
  - serverless-domain-manager
  - serverless-offline

custom:
  customDomain:
    domainName: ${opt:stage, 'dev'}.voamobileendpoints.com
    basePath: server
    stage: ${opt:stage, 'dev'}

provider:
  name: aws
  runtime: nodejs8.10
  stage: ${opt:stage, 'dev'}
  region: ${opt:region, 'us-east-1'}
  profile: voa
  environment: ${file(./env.yml):${opt:stage, self:provider.stage}}
  timeout: 30

functions:
  graphql:
    handler: handler.graphqlHandler
    events:
      - http:
          path: graphql
          method: post
          cors: true
