service: voa-mobile-server

plugins:
  - serverless-plugin-typescript
  - serverless-offline

provider:
  name: aws
  runtime: nodejs6.10
  stage: dev
  region: us-east-1
  profile: excella

functions:
  graphql:
    handler: handler.graphqlHandler
    events:
      - http:
          path: graphql
          method: post
          cors: true
  graphiql:
    handler: handler.graphiqlHandler
    events:
      - http:
          path: graphiql
          method: get
          cors: true